* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: SFRegular, -apple-system, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#root {
  width: 100%;
  height: 100%;
  background: url(/bg.webp);
  background-size: cover;
}

@font-face {
  font-family: SFmono;
  src: url(./style/font/SFMonoRegular.otf) format('opentype');
}

@font-face {
  font-family: SFRegular;
  src: url(./style/font/SFDisplayRegular.otf) format('opentype');
}

@font-face {
  font-family: SFRegular;
  font-weight: bold;
  src: url(./style/font/SFDisplayHeavy.otf) format('opentype');
}
